/* start glodel rules */
* {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: capitalize;
}

::-webkit-scrollbar {
  background-color: #ececee;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #777;
}
img {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

*:focus {
  outline: none;
}

html {
  font-family: "Aleo", serif;
  font-size: 15px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #156395;
}

button {
  outline: none;
}

ul {
  list-style: none;
}

.container {
  padding: 0 8rem;
}
@media (max-width: 1200px) {
  .container {
    padding: 0px 30px;
  }
}
@media (max-width: 776px) {
  .container {
    padding: 0px 20px;
  }
}
/*end globle rules */
/* start compenants */
.btn {
  color: white;
  background-color: #4c4c4c;
  padding: 10px 30px;
  border-radius: 2px;
}
.btn:hover {
  background-color: #201f1f;
  transition: all 0.3s;
}
/* end compenants */

/* start curvey title */

.circle {
  z-index: 200;
  position: absolute; 
  top: -140px;
  left: -50px;
}
@media (max-width:1480px) {
  .circle {
    top: -80px;
    left: -120px;
  }
}
@media (max-width:1024px) {
  .circle {
    top: -180px;
    left: -22px;
  }
}
@media (max-width:768px) {
  .circle {
    top: -130px;
    left: -60px;
    display: none;
  }
}
.circle-text-1 {
  transform: rotate(-50deg);
  font-size: 0.4rem;
  z-index: 200;

}
h1 {
  color: #fff;
}
h1 span {
  font-weight: 400;
  height:290px;
  position: absolute;
  width: 90px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
  font-size: 1rem;
  color: #4c4c4c;
  z-index: 300;
}
.char1 {
  transform: rotate(1deg);
}
.char2 {
  transform: rotate(3deg);
}
.char3 {
  transform: rotate(4deg);
}
.char4 {
  transform: rotate(6deg);
}
.char5 {
  transform: rotate(8deg);
}
.char6 {
  transform: rotate(10deg);
}
.char7 {
  transform: rotate(12deg);
}
.char8 {
  transform: rotate(14deg);
}
.char9 {
  transform: rotate(16deg);
}
.char10 {
  transform: rotate(18deg);
}
.char11 {
  transform: rotate(20deg);
}
.char12 {
  transform: rotate(22deg);
}
.char13 {
  transform: rotate(24deg);
}
.char14 {
  transform: rotate(25deg);
}
.char15 {
  transform: rotate(27deg);
}
.char16 {
  transform: rotate(29deg);
}
.char17 {
  transform: rotate(31deg);
}
.char18 {
  transform: rotate(32deg);
}
.char19 {
  transform: rotate(34deg);
}
.char20 {
  transform: rotate(36deg);
}
.char21 {
  transform: rotate(38deg);
}
.char22 {
  transform: rotate(40deg);
}

.char23 {
  transform: rotate(42deg);
}

.char24 {
  transform: rotate(42deg);
}

.char25 {
  transform: rotate(46deg);
}

.char26 {
  transform: rotate(49deg);
}

.char27 {
  transform: rotate(50deg);
}
.char28 {
  transform: rotate(52deg);
}
.char29 {
  transform: rotate(54deg);
}
.char30 {
  transform: rotate(56deg);
}
.char31 {
  transform: rotate(59deg);
}
.char32 {
  transform: rotate(60deg);
}
.char33 {
  transform: rotate(62deg);
}
.char34 {
  transform: rotate(64deg);
}
.char35 {
  transform: rotate(66deg);
}
.char36 {
  transform: rotate(68deg);
}
.char37 {
  transform: rotate(70deg);
}
.char38 {
  transform: rotate(72deg);
}
.char39 {
  transform: rotate(74deg);
}
.char40 {
  transform: rotate(75deg);
}
.char41 {
  transform: rotate(77deg);
}

.char42 {
  transform: rotate(79deg);
}

.char43 {
  transform: rotate(81deg);
}

.char44 {
  transform: rotate(84deg);
}

.char45 {
  transform: rotate(85deg);
}

.char46 {
  transform: rotate(87deg);
}

.char47 {
  transform: rotate(88deg);
}

.char48 {
  transform: rotate(89deg);
}

.char49 {
  transform: rotate(91deg);
}
.char50 {
  transform: rotate(93deg);
}
.char51 {
  transform: rotate(95deg);
}
.char52 {
  transform: rotate(97deg);
}
.char53 {
  transform: rotate(99deg);
}
.char54 {
  transform: rotate(101deg);
}

.char55 {
  transform: rotate(103deg);
}

/* end curvey title */
